<%- include('./partials/header.ejs') %>

<div class="container body-home offset">
    <h1>404 - Not Found</h1>
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
        <p>Please <a href="/">go back to the homepage</a> and try again.</p>
</div>

<%- include('./partials/footer.ejs') %>
